{{!-- when there is something wrong in login page --}}
{{!-- e.g., incorrect email or password, email is not registered --}}
{{#if loginFailureMessage}}
<div class="alert alert-danger alert-dimissible fade show" role="alert">
  {{ loginFailureMessage }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{!-- when user try to use other page without logging --}}
{{#if loginFirstWarningMessage}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ loginFirstWarningMessage }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{!-- when user sccessfully log out --}}
{{#if logoutSuccessMessage}}
<div class="alert alert-success alert-dimissible fade show" role="alert">
  {{ logoutSuccessMessage }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{!-- when there is something wrong in the register page --}}
{{!-- e.g., one of the fields is empty, the passwords are differenct and email has been registered --}}
{{#if registerWarningMessages}}
{{#each registerWarningMessages}}
<div class="alert alert-warning alert-dimissible fade show" role="alert">
  {{ this }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}
{{/if}}